<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>ADMIN_HOME</title>
	</head>
	<body>
		<p>ADMIN HOME</p>
		
		<form action="newsong">
			<input type="submit" value="Add Song">
		</form>
		<br><br>
		
		<form action="viewsongs">
			<input type="submit" value="View Songs">
		</form>
		<br><br>
		
		<form action="createplaylists">
			<input type="submit" value="Create Playlist">
		</form>
		<br><br>
		
		<form action="viewplaylists">
			<input type="submit" value="View Playlists">
		</form>
	</body>
</html>